/*FUENTES*/

@import "../../../assets/scss/fuentes";

$mapaFuentes: (
  Poppins: $Poppins
);



/*COLORES*/

@import "../../../assets/scss/colores";

$mapaColores: (
  Primary: $Primary,
  PrimaryDark: $PrimaryDark,
  PrimaryLight: $PrimaryLight,
  PrimaryLighten: $PrimaryLighten,
  Text: $Text
);









.homeContainer{
  background-color: #000;
  overflow: hidden;
}





@media screen and (min-width: 1024px){

  .homeContainer{
    margin-left: auto;
    margin-right: auto;
  }
  
}