/*FUENTES*/

@import "../../../assets/scss/fuentes";

$mapaFuentes: (
  Poppins: $Poppins
);



/*COLORES*/

@import "../../../assets/scss/colores";

$mapaColores: (
  Primary: $Primary,
  PrimaryDark: $PrimaryDark,
  PrimaryLight: $PrimaryLight,
  PrimaryLighten: $PrimaryLighten,
  Text: $Text
);









.navbar{
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


@media screen and (min-width: 768px){
    
  .navbar{
    height: calc(2rem + 1.5rem);
  }
  
}